html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-size: 12px;
    font-family: "Kumbh Sans", "sans-serif";
    display: grid;
    background: linear-gradient(hsl(273, 75%, 66%),hsl(240, 73%, 65%));
    height: 100vh;
    width: 100vw;
    align-content: center;
    justify-content: center;
    overflow: hidden;
}

.wrap {
    background: white;
    display: grid;
    justify-content: space-around;
    align-content: center;
    width: 920px;
    height: 510px;
    border-radius: 30px;
    grid-template-columns: 100px 1fr 1fr;
    grid-gap: 5rem;
    background-image: url(images/bg-pattern-desktop.svg);
    background-repeat: no-repeat;
    background-position: 1000% 65%;
}

.answer {
    display: block;
    font-weight: 400;
}

.accordian {
    margin-top: 200px;
    margin-right: 40px;
    margin-left: 250px;
    display: absolute;
    flex-direction: column;
    padding-left: 80px;
}


.question {
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    font-weight: 400;
    margin:1rem 0rem;
    color: hsl(237, 12%, 33%);
    font-weight: 700;
}

.question:hover {
    color: orange;
    cursor: pointer;
}

.arrow {
    display: flex;
    justify-content: right;
    cursor: pointer;
    align-self: center;
}

.container-question {
    display: flex;
    width: 350px;
    justify-content: space-between;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    transition: 0.3s;
    align-content: end;
}

.heading {
    margin-top: 0px;
    font-size: 3rem;
}

.imagewrap {
    display: relative;
} 

.image2 {
    background: url(images/illustration-woman-online-desktop.svg);
    height: 100%;
    background-repeat: no-repeat;
    background-position: 140% center;
    padding-right: 60%;
    padding-bottom: 250%;
}

.image1 {
    position: relative;
    top: 41%;
    right: 60%;
}

/* styles for mobile devices */
@media only screen and (max-width: 500px) {
    
    .wrap {
        background: white;
        display: grid;
        justify-content: space-around;
        align-content: center;
        width: 500px;
        height: 500px;
        border-radius: 30px;
        grid-template-columns: 100px 1fr 1fr;
        grid-gap: 5rem;
        background-image: url(images/bg-pattern-desktop.svg);
        background-repeat: no-repeat;
        background-position: 1000% 65%;
    }

    .accordian {
        margin-top: 100px;
        margin-left: 0px;
        position: absolute;
        flex-direction: row;
    }

    .question {
        display: flex;
        flex-direction: row;
        font-size: 1rem;
        font-weight: 400;
        margin:1rem 0rem;
        color: hsl(237, 12%, 33%);
        font-weight: 700;
    }
    
        .answer {
        font-weight: 400;
    }


    .imagewrap {
        position: absolute;
        top: 0px;
        height: auto;
        width: 50px;
    }

    .image1 {
        z-index: 1;
    }

    .image2 {
        position: relative;
        width: 50px;
        bottom: 300px;
    }

}


.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }
